.tile {
  border-radius: 10px;
  background-color: white;
  width: fit-content;
  padding: 5px 10px;
}

.noSelection {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.easy {
  filter: blur(4px);
}

.medium {
  filter: blur(8px);
}

.hard {
  filter: blur(100px);
}

.id {
  padding-right: 5px;
}

.sprite {
  padding-top: 5px;
}
