.App {
  text-align: center;
  background-color: lightgrey;
  align-content: center;
}

.nameGrid {
  display: flex;
  flex-wrap: wrap;
  grid-template-columns: repeat(10, 1fr);
  gap: 10px;
  height: 900px;
  align-items: stretch;
  flex-direction: row;
  overflow-y: scroll;
}

.guessing {
  display: inline-block;
}
